<header>

    <div class="top-bar">
        <div class="container">
            <ul class="dt-sc-social-icons">
                <li><a routerLink="#" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                <li><a routerLink="#" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
                <li><a routerLink="#" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                <li><a routerLink="#" title="Youtube"><span class="fa fa-youtube"></span></a></li>
                <li><a routerLink="#" title="Linkedin"><span class="fa fa-linkedin"></span></a></li>
            </ul>
            <div class="dt-sc-contact-number">
                <span class="fa fa-phone"> </span> Call us: (212) 742 1414
            </div>
        </div>
    </div>

    <div class="container">
        <div class="logo">
            <a routerLink="/home" title="State Attorney, LLC"><img src="assets/images/logo.png"
                    alt="State Attorney, LLC" title="State Attorney, LLC"></a>
        </div>
        <div class="alignright">
            <a class="dt-sc-bordered-button" routerLink="#"> Free Consultation </a>
        </div>
    </div>

    <div id="menu-container">
        <div class="container">

            <nav id="main-menu">
                <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span>
                </div>
                <ul id="menu-main-menu" class="menu">
                    <li [routerLinkActive]="['current_page_item']" [routerLinkActiveOptions]="{ exact: true }"> <a routerLink="/home"> Home </a> </li>
                    <li [routerLinkActive]="['current_page_item']" [routerLinkActiveOptions]="{ exact: true }"> <a routerLink="/our-firm"> Our Firm </a> </li>
                    <li [routerLinkActive]="['current_page_item']" [routerLinkActiveOptions]="{ exact: true }"> <a routerLink="/our-practices"> Our Practices </a> </li>
                    <li [routerLinkActive]="['current_page_item']" [routerLinkActiveOptions]="{ exact: true }" class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0"> <a
                            routerLink="/our-people"> Our People </a>
                        <div class="megamenu-child-container">
                            <ul class="sub-menu">
                                <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area fill-two-columns">
                                    <a routerLink="#"> About </a>

                                    <div class="menu-item-widget-area-container">
                                        <ul>
                                            <li class="widget widget_text">
                                                <div class="textwidget">
                                                    <div class="image">
                                                        <img src="assets/images/mega_menu_about_image.png"
                                                            alt="" title="">
                                                    </div>
                                                    <div class="alignleft">
                                                        <span class="alignleft dt-sc-highlight"> We provide
                                                            effective and reliable solutions. Looking for legal
                                                            help?</span>
                                                        <div class="dt-sc-hr-image"></div>
                                                        <div class="dt-sc-hr-invisible-very-small"></div>
                                                        <span class="alignleft dt-sc-highlight"> We let you know
                                                            the right way. </span>
                                                        <a class="dt-sc-bordered-button first" routerLink="#"> <span
                                                                class="fa fa-thumbs-o-up"></span> By Direct </a>
                                                        <a class="dt-sc-bordered-button" routerLink="#"> <span
                                                                class="fa fa-phone"></span> By Phone </a>
                                                    </div>
                                                    <div class="dt-sc-clear"></div>
                                                    <p> At vero eos et accusamus et iusto odio dignissimos duci
                                                        blandits quite praesentium voluptatum deleniti atque
                                                        corrupti dolores et quas molestias excepturi sint
                                                        occaecati cupiditate non provident. </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area">
                                    <a routerLink="#"> Latest Blog </a>

                                    <div class="menu-item-widget-area-container">
                                        <ul>
                                            <li class="widget widget_recent_entries">
                                                <ul>
                                                    <li>
                                                        <div class="entry-meta">
                                                            <p class="date"> <span
                                                                    class="fa fa-calendar-o"></span> 20 June
                                                                2014 </p>
                                                            <a routerLink="#" class="comments"> <span
                                                                    class="fa fa-comment"></span> 16 </a>
                                                        </div>
                                                        <div class="entry-title">
                                                            <h6><a routerLink="news-detail"> Free consultation
                                                                    makes you decide to pursue the case </a>
                                                            </h6>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="entry-meta">
                                                            <p class="date"> <span
                                                                    class="fa fa-calendar-o"></span> 20 June
                                                                2014 </p>
                                                            <a routerLink="#" class="comments"> <span
                                                                    class="fa fa-comment"></span> 16 </a>
                                                        </div>
                                                        <div class="entry-title">
                                                            <h6><a routerLink="news-detail"> Estimating your
                                                                    Budget in the consultations </a></h6>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="entry-meta">
                                                            <p class="date"> <span
                                                                    class="fa fa-calendar-o"></span> 20 June
                                                                2014 </p>
                                                            <a routerLink="#" class="comments"> <span
                                                                    class="fa fa-comment"></span> 16 </a>
                                                        </div>
                                                        <div class="entry-title">
                                                            <h6><a routerLink="news-detail"> Accident cases taken
                                                                    under crime divsions </a></h6>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area">
                                    <a routerLink="#"> Testimonials </a>

                                    <div class="menu-item-widget-area-container">
                                        <ul>
                                            <li class="widget widget_text">
                                                <div class="textwidget">
                                                    <div class="dt-sc-testimonial">
                                                        <blockquote><q> But who has any right to find fault with
                                                                a man who chooses to enjoy a pleasure that has
                                                                no annoying consequences, or one who avoids a
                                                                pain that produces little more line to make this
                                                                complete </q></blockquote>
                                                        <div class="author-meta">
                                                            <p> Jason Shane </p>
                                                            <span> Business Consultant / <strong> Magick Wall
                                                                </strong> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area fill-four-columns">
                                    <a routerLink="#"> Our Practices </a>
                                    <ul class="sub-menu">
                                        <li
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2">
                                            <span class="nolink-menu"></span>
                                            <div class="dt-megamenu-custom-content">
                                                <div class="dt-sc-one-fourth column first">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="assets/images/practice_icon1.png" alt=""
                                                                title="">
                                                        </div>
                                                        <h5><a routerLink=""> Employment Law </a></h5>
                                                        <span> Anything Related to Employment </span>
                                                    </div>
                                                </div>
                                                <div class="dt-sc-one-fourth column">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="assets/images/practice_icon2.png" alt=""
                                                                title="">
                                                        </div>
                                                        <h5><a routerLink=""> Discrimination </a></h5>
                                                        <span> Discriminations should end </span>
                                                    </div>
                                                </div>
                                                <div class="dt-sc-one-fourth column">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="assets/images/practice_icon3.png" alt=""
                                                                title="">
                                                        </div>
                                                        <h5><a routerLink=""> Flsa Overtime </a></h5>
                                                        <span> Need to evaluate your standard </span>
                                                    </div>
                                                </div>
                                                <div class="dt-sc-one-fourth column">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="assets/images/practice_icon4.png" alt=""
                                                                title="">
                                                        </div>
                                                        <h5><a routerLink=""> Retaliation </a></h5>
                                                        <span> Stop before it causes a big trouble </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li [routerLinkActive]="['current_page_item']" [routerLinkActiveOptions]="{ exact: true }"> <a routerLink="/news-events" title=""> News &amp; Events </a> </li>
                    <li [routerLinkActive]="['current_page_item']" [routerLinkActiveOptions]="{ exact: true }" class="menu-item-simple-parent menu-item-depth-0"> <a routerLink="/shortcodes"> Shortcodes
                        </a>
                        <ul class="sub-menu">
                            <li> <a routerLink="/shortcodes"> Typography </a> </li>
                            <li> <a routerLink="/buttons"> Buttons </a> </li>
                            <li> <a routerLink="/columns"> Columns </a> </li>
                            <li> <a routerLink="fancy-boxes"> Fancy Boxes </a> </li>
                            <li> <a routerLink="/icon-boxes"> Icon Boxes </a> </li>
                            <li> <a routerLink="/lists"> Lists </a> </li>
                            <li> <a routerLink="/pricing-tables"> Pricing Tables </a> </li>
                            <li> <a routerLink="/progressbars"> Progress Bars </a> </li>
                            <li> <a routerLink="/quotes"> Quotes </a> </li>
                            <li> <a routerLink="/tabs-toggles"> Tabs &amp; Toggles </a> </li>
                        </ul>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li [routerLinkActive]="['current_page_item']" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/location" title="">Location</a></li>
                </ul>
            </nav>

            <form method="get" id="searchform" action="#" style="display: flex;">
                <input id="s" name="s" type="text" value="Search..." class="text_input"
                    onblur="if(this.value==''){this.value='Search...';}"
                    onfocus="if(this.value =='Search...') {this.value=''; }">
                <input name="submit" type="submit" value="">
            </form>
        </div>
    </div>

</header>