<div class="wrapper">

    <div class="inner-wrapper">

        <header>

            <div class="top-bar">
                <div class="container">
                    <ul class="dt-sc-social-icons">
                        <li><a href="#" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" title="Youtube"><span class="fa fa-youtube"></span></a></li>
                        <li><a href="#" title="Linkedin"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                    <div class="dt-sc-contact-number">
                        <span class="fa fa-phone"> </span> Call us today: (212) 742 1414
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="logo">
                    <a href="index.html" title="State Attorney, LLC"><img src="assets/images/logo.png"
                            alt="State Attorney, LLC" title="State Attorney, LLC"></a>
                </div>
                <div class="alignright">
                    <a class="dt-sc-bordered-button" href="#"> Free Consultation </a>
                </div>
            </div>

            <div id="menu-container">
                <div class="container">

                    <nav id="main-menu">
                        <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span>
                        </div>
                        <ul id="menu-main-menu" class="menu">
                            <li> <a href="index.html"> Home </a> </li>
                            <li> <a href="our-firm.html"> Our Firm </a> </li>
                            <li> <a href="our-practices.html"> Our Practices </a> </li>
                            <li
                                class="current_page_item menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                                <a href="our-people.html"> Our People </a>
                                <div class="megamenu-child-container">
                                    <ul class="sub-menu">
                                        <li
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area fill-two-columns">
                                            <a href="#"> About </a>

                                            <div class="menu-item-widget-area-container">
                                                <ul>
                                                    <li class="widget widget_text">
                                                        <div class="textwidget">
                                                            <div class="image">
                                                                <img src="assets/images/mega_menu_about_image.png"
                                                                    alt="" title="">
                                                            </div>
                                                            <div class="alignleft">
                                                                <span class="alignleft dt-sc-highlight"> We provide
                                                                    effective and reliable solutions. Looking for legal
                                                                    help?</span>
                                                                <div class="dt-sc-hr-image"></div>
                                                                <div class="dt-sc-hr-invisible-very-small"></div>
                                                                <span class="alignleft dt-sc-highlight"> We let you know
                                                                    the right way. </span>
                                                                <a class="dt-sc-bordered-button first" href="#"> <span
                                                                        class="fa fa-thumbs-o-up"></span> By Direct </a>
                                                                <a class="dt-sc-bordered-button" href="#"> <span
                                                                        class="fa fa-phone"></span> By Phone </a>
                                                            </div>
                                                            <div class="dt-sc-clear"></div>
                                                            <p> At vero eos et accusamus et iusto odio dignissimos duci
                                                                blandits quite praesentium voluptatum deleniti atque
                                                                corrupti dolores et quas molestias excepturi sint
                                                                occaecati cupiditate non provident. </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                        <li
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area">
                                            <a href="#"> Latest Blog </a>

                                            <div class="menu-item-widget-area-container">
                                                <ul>
                                                    <li class="widget widget_recent_entries">
                                                        <ul>
                                                            <li>
                                                                <div class="entry-meta">
                                                                    <p class="date"> <span
                                                                            class="fa fa-calendar-o"></span> 20 June
                                                                        2014 </p>
                                                                    <a href="#" class="comments"> <span
                                                                            class="fa fa-comment"></span> 16 </a>
                                                                </div>
                                                                <div class="entry-title">
                                                                    <h6><a href="news-detail.html"> Free consultation
                                                                            makes you decide to pursue the case </a>
                                                                    </h6>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="entry-meta">
                                                                    <p class="date"> <span
                                                                            class="fa fa-calendar-o"></span> 20 June
                                                                        2014 </p>
                                                                    <a href="#" class="comments"> <span
                                                                            class="fa fa-comment"></span> 16 </a>
                                                                </div>
                                                                <div class="entry-title">
                                                                    <h6><a href="news-detail.html"> Estimating your
                                                                            Budget in the consultations </a></h6>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="entry-meta">
                                                                    <p class="date"> <span
                                                                            class="fa fa-calendar-o"></span> 20 June
                                                                        2014 </p>
                                                                    <a href="#" class="comments"> <span
                                                                            class="fa fa-comment"></span> 16 </a>
                                                                </div>
                                                                <div class="entry-title">
                                                                    <h6><a href="news-detail.html"> accident cases taken
                                                                            under crime divsions </a></h6>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                        <li
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area">
                                            <a href="#"> Testimonials </a>

                                            <div class="menu-item-widget-area-container">
                                                <ul>
                                                    <li class="widget widget_text">
                                                        <div class="textwidget">
                                                            <div class="dt-sc-testimonial">
                                                                <blockquote><q> But who has any right to find fault with
                                                                        a man who chooses to enjoy a pleasure that has
                                                                        no annoying consequences, or one who avoids a
                                                                        pain that produces little more line to make this
                                                                        complete </q></blockquote>
                                                                <div class="author-meta">
                                                                    <p> Jason Shane </p>
                                                                    <span> Business Consultant / <strong> Magick Wall
                                                                        </strong> </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                        <li
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area fill-four-columns">
                                            <a href="#"> Our Practices </a>
                                            <ul class="sub-menu">
                                                <li
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2">
                                                    <span class="nolink-menu"></span>
                                                    <div class="dt-megamenu-custom-content">
                                                        <div class="dt-sc-one-fourth column first">
                                                            <div class="dt-sc-ico-content type1">
                                                                <div class="icon">
                                                                    <img src="assets/images/practice_icon1.png" alt=""
                                                                        title="">
                                                                </div>
                                                                <h5><a href=""> Employment Law </a></h5>
                                                                <span> Anything Related to Employment </span>
                                                            </div>
                                                        </div>
                                                        <div class="dt-sc-one-fourth column">
                                                            <div class="dt-sc-ico-content type1">
                                                                <div class="icon">
                                                                    <img src="assets/images/practice_icon2.png" alt=""
                                                                        title="">
                                                                </div>
                                                                <h5><a href=""> Discrimination </a></h5>
                                                                <span> Discriminations should end </span>
                                                            </div>
                                                        </div>
                                                        <div class="dt-sc-one-fourth column">
                                                            <div class="dt-sc-ico-content type1">
                                                                <div class="icon">
                                                                    <img src="assets/images/practice_icon3.png" alt=""
                                                                        title="">
                                                                </div>
                                                                <h5><a href=""> Flsa Overtime </a></h5>
                                                                <span> Need to evaluate your standard </span>
                                                            </div>
                                                        </div>
                                                        <div class="dt-sc-one-fourth column">
                                                            <div class="dt-sc-ico-content type1">
                                                                <div class="icon">
                                                                    <img src="assets/images/practice_icon4.png" alt=""
                                                                        title="">
                                                                </div>
                                                                <h5><a href=""> Retaliation </a></h5>
                                                                <span> Stop before it causes a big trouble </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <a class="dt-menu-expand">+</a>
                            </li>
                            <li> <a href="news-events.html" title=""> News &amp; Events </a> </li>
                            <li class="menu-item-simple-parent menu-item-depth-0"> <a href="shortcodes.html"> Shortcodes
                                </a>
                                <ul class="sub-menu">
                                    <li> <a href="shortcodes.html"> Typography </a> </li>
                                    <li> <a href="buttons.html"> Buttons </a> </li>
                                    <li> <a href="columns.html"> Columns </a> </li>
                                    <li> <a href="fancy-boxes.html"> Fancy Boxes </a> </li>
                                    <li> <a href="icon-boxes.html"> Icon Boxes </a> </li>
                                    <li> <a href="lists.html"> Lists </a> </li>
                                    <li> <a href="pricing-tables.html"> Pricing Tables </a> </li>
                                    <li> <a href="progressbars.html"> Progress Bars </a> </li>
                                    <li> <a href="quotes.html"> Quotes </a> </li>
                                    <li> <a href="tabs-toggles.html"> Tabs &amp; Toggles </a> </li>
                                </ul>
                                <a class="dt-menu-expand">+</a>
                            </li>
                            <li><a href="location.html" title="">Location</a></li>
                        </ul>
                    </nav>

                    <form method="get" id="searchform" action="#">
                        <input id="s" name="s" type="text" value="Search..." class="text_input"
                            onblur="if(this.value==''){this.value='Search...';}"
                            onfocus="if(this.value =='Search...') {this.value=''; }">
                        <input name="submit" type="submit" value="">
                    </form>
                </div>
            </div>

        </header>


        <div id="main">
            <div class="breadcrumb-section">
                <div class="container">
                    <h1> Our People </h1>
                    <div class="breadcrumb">
                        <a href="index.html"> Home </a>
                        <span class="current"> Our People </span>
                    </div>
                </div>
            </div>

            <div class="container">

                <section id="primary" class="page-with-sidebar with-right-sidebar">
                    <h2 class="dt-sc-bordered-title"> About our Attorneys </h2>
                    <p class="alignleft"> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur. Neque porro quisquam est, qui dolorem
                        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                        incidunt. </p>
                    <div class="dt-sc-hr-invisible-small"></div>

                    <div class="attorney_list">
                        <form name="attroney_list_form" method="post" class="attorney-form" action="php/subscribe.php">
                            <p>
                                <label>Filter by:</label>
                                <span class="select-sort">
                                    <select name="cause">
                                        <option value="practice_area">Practice Area</option>
                                        <option value="divorce_cases">Divorce Cases</option>
                                        <option value="local_asset_management">Local Asset Management</option>
                                        <option value="health_insurance">Health Insurance</option>
                                        <option value="business_law">Business Law</option>
                                        <option value="pregnancy">Pregnancy</option>
                                        <option value="estate_planning">Estate Planning</option>
                                    </select>
                                </span>
                            </p>
                        </form>
                        <p class="alignright result-count"> Showing 7 of 7 </p>
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="attorney_content local_asset_management">
                            <div class="image">
                                <a href="our-people-detail.html"><img src="assets/images/attorney1.jpg" alt=""
                                        title=""></a>
                            </div>
                            <div class="attorney_details">
                                <div class="attorney_details_info">
                                    <div class="alignleft">
                                        <h6> <a href="our-people-detail.html"> Robert James </a> </h6>
                                        <span> Associate / Crime </span>
                                    </div>
                                    <div class="alignright">
                                        <p class="phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                    </div>
                                </div>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <a href="our-people-detail.html" class="dt-sc-button alignright"> <span
                                        class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                        <div class="attorney_content local_asset_management">
                            <div class="image">
                                <a href="our-people-detail.html"><img src="assets/images/attorney2.jpg" alt=""
                                        title=""></a>
                            </div>
                            <div class="attorney_details">
                                <div class="attorney_details_info">
                                    <div class="alignleft">
                                        <h6> <a href="our-people-detail.html"> Craig Thompson </a> </h6>
                                        <span> Associate / Estate Planning </span>
                                    </div>
                                    <div class="alignright">
                                        <p class="phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                    </div>
                                </div>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <a href="our-people-detail.html" class="dt-sc-button alignright"> <span
                                        class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                        <div class="attorney_content local_asset_management health_insurance">
                            <div class="image">
                                <a href="our-people-detail.html"><img src="assets/images/attorney3.jpg" alt=""
                                        title=""></a>
                            </div>
                            <div class="attorney_details">
                                <div class="attorney_details_info">
                                    <div class="alignleft">
                                        <h6> <a href="our-people-detail.html"> Jeniffer Lohan </a> </h6>
                                        <span> Women Harrasment </span>
                                    </div>
                                    <div class="alignright">
                                        <p class="phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                    </div>
                                </div>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <a href="our-people-detail.html" class="dt-sc-button alignright"> <span
                                        class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                        <div class="attorney_content local_asset_management">
                            <div class="image">
                                <a href="our-people-detail.html"><img src="assets/images/attorney4.jpg" alt=""
                                        title=""></a>
                            </div>
                            <div class="attorney_details">
                                <div class="attorney_details_info">
                                    <div class="alignleft">
                                        <h6> <a href="our-people-detail.html"> Carl Danny </a> </h6>
                                        <span> Accident and Insurance </span>
                                    </div>
                                    <div class="alignright">
                                        <p class="phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                    </div>
                                </div>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <a href="our-people-detail.html" class="dt-sc-button alignright"> <span
                                        class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                        <div class="attorney_content local_asset_management pregnancy divorce_cases business_law">
                            <div class="image">
                                <a href="our-people-detail.html"><img src="assets/images/attorney5.jpg" alt=""
                                        title=""></a>
                            </div>
                            <div class="attorney_details">
                                <div class="attorney_details_info">
                                    <div class="alignleft">
                                        <h6> <a href="our-people-detail.html"> Daniel Craig </a> </h6>
                                        <span> Associate / Estate Planning </span>
                                    </div>
                                    <div class="alignright">
                                        <p class="phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                    </div>
                                </div>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <a href="our-people-detail.html" class="dt-sc-button alignright"> <span
                                        class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                        <div class="attorney_content local_asset_management estate_planning business_law">
                            <div class="image">
                                <a href="our-people-detail.html"><img src="assets/images/attorney6.jpg" alt=""
                                        title=""></a>
                            </div>
                            <div class="attorney_details">
                                <div class="attorney_details_info">
                                    <div class="alignleft">
                                        <h6> <a href="our-people-detail.html"> Peter Jackson </a> </h6>
                                        <span> Business Law </span>
                                    </div>
                                    <div class="alignright">
                                        <p class="phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                    </div>
                                </div>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <a href="our-people-detail.html" class="dt-sc-button alignright"> <span
                                        class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                        <div
                            class="attorney_content local_asset_management health_insurance estate_planning business_law">
                            <div class="image">
                                <a href="our-people-detail.html"><img src="assets/images/attorney7.jpg" alt=""
                                        title=""></a>
                            </div>
                            <div class="attorney_details">
                                <div class="attorney_details_info">
                                    <div class="alignleft">
                                        <h6> <a href="our-people-detail.html"> Daniel Craig </a> </h6>
                                        <span> Associate / Estate Planning </span>
                                    </div>
                                    <div class="alignright">
                                        <p class="phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                    </div>
                                </div>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <a href="our-people-detail.html" class="dt-sc-button alignright"> <span
                                        class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </div>


                    <div class="pagination">
                        <div class="prev-post active-page"><a href="#"><span class="fa fa-caret-left"></span> Prev </a>
                        </div>
                        <ul>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                        </ul>
                        <div class="next-post"><a href="#"> Next <span class="fa fa-caret-right"></span></a></div>
                    </div>

                </section>


                <section id="secondary">
                    <aside class="widget widget_form">
                        <h3 class="dt-sc-bordered-title"> Have a Question? </h3>
                        <form name="frmquestions" method="post" class="question-form" action="php/questions.php">
                            <p>
                                <input type="text" name="name" required="" placeholder="Name">
                            </p>
                            <p>
                                <input type="email" name="emailid" required="" placeholder="Email">
                            </p>
                            <p>
                                <input name="phone" type="text" placeholder="Phone" required="">
                            </p>
                            <p class="dt-sc-full-width-content">
                                <span class="select-sort">
                                    <select name="question">
                                        <option value="">Practice Area</option>
                                        <option value="Divorce Cases">Divorce Cases</option>
                                        <option value="Local Asset Management">Local Asset Management</option>
                                        <option value="Health Insurance">Health Insurance</option>
                                        <option value="Business Law">Business Law</option>
                                        <option value="Pregnancy">Pregnancy</option>
                                        <option value="Estate Planning">Estate Planning</option>
                                    </select>
                                </span>
                            </p>
                            <p class="dt-sc-full-width-content">
                                <textarea name="message" placeholder="Optional Message"></textarea>
                            </p>
                            <div id="ajax_questions_msg"> </div>
                            <p class="alignright">
                                <input type="submit" name="submit" class="dt-sc-bordered-button" value="Submit">
                            </p>
                        </form>
                    </aside>
                    <aside class="widget widget_text">
                        <a href="#"><img src="assets/images/add1.jpg" alt="" title=""></a>
                    </aside>
                    <aside class="widget widget_text">
                        <a class="dt-sc-bordered-button" href="#"> Give us a Call: (552) 226 3314 </a>
                    </aside>
                    <aside class="widget widget_text">
                        <a href="#"><img src="assets/images/add2.jpg" alt="" title=""></a>
                    </aside>
                </section>

                <div class="dt-sc-hr-invisible-large"></div>
                <div class="mailchimp">
                    <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                    <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                        <input type="email" placeholder="Email" name="mc_email" required="">
                        <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                    </form>
                    <div id="ajax_subscribe_msg"></div>
                </div>
            </div>


            <div class="office_locations">
                <div class="container">
                    <p> Our Offices: </p>
                    <ul class="dt-sc-locations">
                        <li>
                            <a href="#"> Princeton, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Princeton, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="91f0f3f2d1e2fefcf4fcf0f8fdbff2fefc">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Flemington, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street,
                                    <br>
                                    Flemington, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="6405060724170b090109050d084a070b09">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Red Bank, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street,
                                    <br>
                                    Red Bank, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="c3a2a1a083b0acaea6aea2aaafeda0acae">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Wilmington, DE </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Wilmington, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="9afbf8f9dae9f5f7fff7fbf3f6b4f9f5f7">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Georgetown, DE </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Georgetown, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="7e1f1c1d3e0d11131b131f1712501d1113">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> New York, NY </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street,
                                    <br>
                                    New York, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="c9a8abaa89baa6a4aca4a8a0a5e7aaa6a4">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Haddonfield, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Haddonfield, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="c7a6a5a487b4a8aaa2aaa6aeabe9a4a8aa">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Philadelphia, PA </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street,
                                    <br>
                                    Philadelphia, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="dfbebdbc9facb0b2bab2beb6b3f1bcb0b2">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <footer>

            <div class="footer-widgets-wrapper">

                <div class="container">
                    <div class="footer_top">
                        <p class="footer-logo">
                            <a href="#"> When Truth &amp; </a>
                            <a href="#"> <img src="assets/images/footer-logo.png" alt="" title=""> </a>
                            <a href="#"> Justice calls </a>
                        </p>
                        <ul class="dt-sc-social-icons">
                            <li><a href="#" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#" title="Youtube"><span class="fa fa-youtube"></span></a></li>
                            <li><a href="#" title="Linkedin"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="column dt-sc-two-sixth first">
                        <aside class="widget widget_text">
                            <div class="widget_text_logo">
                                <img src="assets/images/footer_text_widget_logo.png" alt="" title="">
                                <h4> State Attorney, LLC </h4>
                                <span><i>It's all about Justice </i></span>
                                <div class="dt-sc-hr-invisible-very-small"></div>
                                <p> State Attorney is an law/justice theme that suits any law/legal business. If you are
                                    about to start a business or deciding on improving your business State Attorney has
                                    all the features you need. </p>
                                <a href="#"> <strong> Learn more about our Practices <span
                                            class="fa fa-angle-double-right"></span> </strong> </a>
                            </div>
                        </aside>
                    </div>
                    <div class="column dt-sc-two-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle">Contact Details</h3>
                            <div class="textwidget">
                                <p class="dt-sc-contact-info"><span><i class="fa fa-phone"></i> Phone: </span> +22 004
                                    324 1124 </p>
                                <p class="dt-sc-contact-info"><span><i class="fa fa-print"></i> Fax: </span> +22 004 324
                                    1124 </p>
                                <p class="dt-sc-contact-info"><span><i class="fa fa-envelope"></i> Email: </span><a
                                        href="/cdn-cgi/l/email-protection#a8d1c7dddac6c9c5cde8dbc7c5cdc5c9c1c486cbc7c5">
                                        <span class="__cf_email__"
                                            data-cfemail="e390978297868f8294a3848e828a8fcd808c8e">[email&#160;protected]</span>
                                    </a></p>
                                <p class="dt-sc-contact-info"><i class="fa fa-location-arrow"></i>58, Thomson Street,
                                    Edison Avenue, Baltimore, USA</p>
                            </div>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle"> Attorneys </h3>
                            <ul>
                                <li> <a href=""> Robert James </a> </li>
                                <li> <a href=""> Craig Thompson </a> </li>
                                <li> <a href=""> Lewi Steve </a> </li>
                                <li> <a href=""> Carl Danny </a> </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle"> Overview </h3>
                            <ul>
                                <li> <a href=""> About our Practice </a> </li>
                                <li> <a href=""> Testimonials </a> </li>
                                <li> <a href=""> Our Policies </a> </li>
                            </ul>
                        </aside>
                    </div>
                </div>

            </div>

            <div class="copyright">
                <div class="container">
                    <div class="copyright-info">State Attorney © 2005 - 2014 <a href="https://wedesignthemes.com/"
                            target="_blank"> wedesignthemes.com </a> All Rights Reserved. </div>
                    <ul class="footer-links">
                        <li><a href="#"> Sitemap </a></li>
                        <li><a href="#"> Privacy Policy </a></li>
                        <li><a href="#"> Terms &amp; Conditions </a></li>
                        <li><a href="#"> Disclaimer </a></li>
                    </ul>
                    <p> Design by <a href="http://themeforest.net/user/buddhathemes" target="_blank" title="">Buddha
                            Themes</a> </p>
                </div>
            </div>
        </footer>

    </div>

</div>

<div class="fixed-help-form">
    <div class="fixed-help-form-icon">
        <img src="assets/images/fixed-help-form-icon.png" alt="" title="">
    </div>
    <h4> Help Form </h4>
    <p> This form helps you to get the search you need. In case if you feel like talking to us pls feel to contact
        through. </p>
    <p> <span> Office | +22 004 324 1124 </span> </p>
    <form name="helpform" method="post" class="help-form" action="php/helpform.php">
        <p>
            <input type="text" placeholder="First Name" class="text_input" name="hf_first_name" required="">
        </p>
        <p>
            <input type="text" placeholder="Last Name" class="text_input" name="hf_last_name" required="">
        </p>
        <p>
            <span class="select-sort">
                <select name="hf_consult_incident">
                    <option value=""> - Practice Area - </option>
                    <option value="Divorce Cases"> - Divorce Cases - </option>
                    <option value="Local Asset Management"> - Local Asset Management - </option>
                    <option value="Health Insurance"> - Health Insurance - </option>
                    <option value="Business Law"> - Business Law - </option>
                    <option value="Pregnancy"> - Pregnancy - </option>
                    <option value="Estate Planning"> - Estate Planning - </option>
                </select>
            </span>
        </p>
        <p>
            <span class="select-sort">
                <select name="hf_consult_incident_2">
                    <option value=""> - Title - </option>
                    <option value="Divorce Cases"> - Compensation Defense - </option>
                    <option value="Local Asset Management"> - Subrogation - </option>
                    <option value="Health Insurance"> - Arbitration - </option>
                </select>
            </span>
        </p>
        <div id="ajax_helpform_msg"> </div>
        <p>
            <input type="submit" value="&#xf002; &nbsp; Search">
        </p>
    </form>
</div>
<a href="" title="Go to Top" class="back-to-top"> <span class="fa fa-angle-up"></span> </a>