<div class="wrapper">

    <div class="inner-wrapper">

        <app-header></app-header>

        <div id="main">
            <div class="breadcrumb-section">
                <div class="container">
                    <h1> Shortcodes </h1>
                    <div class="breadcrumb">
                        <a href="index.html"> Home </a>
                        <span class="current"> Shortcodes </span>
                    </div>
                </div>
            </div>

            <div class="container">

                <section id="primary" class="content-full-width">
                    <h2 class="dt-sc-hr-title"> Heading Styles </h2>
                    <div class="column dt-sc-one-half first">
                        <h1>Lorem ipsum dolor sit amet</h1>
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                    <div class="column dt-sc-one-half">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <h6>Lorem ipsum dolor sit amet</h6>
                    </div>
                    <div class="dt-sc-hr-invisible"></div>
                    <h2 class="dt-sc-hr-title"> Callout Boxes </h2>
                    <div class="dt-sc-callout-box type1">
                        <div class="column dt-sc-four-fifth first">
                            <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse
                            </h4>
                            <h5> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </h5>
                        </div>
                        <div class="column dt-sc-one-fifth">
                            <a href="https://google.com" class="dt-sc-button small" target="_blank">Purchase Now</a>
                        </div>
                    </div>
                    <div class="dt-sc-hr-invisible-medium"></div>
                    <div class="dt-sc-callout-box type2">
                        <div class="column dt-sc-four-fifth first">
                            <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse
                            </h4>
                            <h5> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </h5>
                        </div>
                        <div class="column dt-sc-one-fifth">
                            <a href="https://google.com" class="dt-sc-button small" target="_blank">Purchase Now</a>
                        </div>
                    </div>
                    <div class="dt-sc-hr-invisible-medium"></div>
                    <div class="dt-sc-callout-box type3">
                        <div class="column dt-sc-four-fifth first">
                            <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse
                            </h4>
                            <h5> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </h5>
                        </div>
                        <div class="column dt-sc-one-fifth">
                            <a href="https://google.com" class="dt-sc-button small" target="_blank">Purchase Now</a>
                        </div>
                    </div>
                    <div class="dt-sc-hr-invisible-large"></div>
                    <h2 class="dt-sc-hr-title"> Table </h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Header1</th>
                                <th>Header2</th>
                                <th>Header3</th>
                                <th>Header4</th>
                                <th>Header5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                                <td>Division5</td>
                            </tr>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                                <td>Division5</td>
                            </tr>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                                <td>Division5</td>
                            </tr>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                                <td>Division5</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dt-sc-hr-invisible-small"></div>
                    <table>
                        <thead>
                            <tr>
                                <th>Header1</th>
                                <th>Header2</th>
                                <th>Header3</th>
                                <th>Header4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                            </tr>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                            </tr>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                            </tr>
                            <tr>
                                <td>Division1</td>
                                <td>Division2</td>
                                <td>Division3</td>
                                <td>Division4</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dt-sc-hr-invisible-large"></div>
                    <div class="mailchimp">
                        <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                        <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                            <input type="email" placeholder="Email" name="mc_email" required="">
                            <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                        </form>
                        <div id="ajax_subscribe_msg"></div>
                    </div>
                </section>

            </div>


            <div class="office_locations">
                <div class="container">
                    <p> Our Offices: </p>
                    <ul class="dt-sc-locations">
                        <li>
                            <a href="#"> Princeton, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Princeton, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="f8999a9bb88b97959d95999194d69b9795">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Flemington, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street,
                                    <br>
                                    Flemington, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="5435363714273b393139353d387a373b39">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Red Bank, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street,
                                    <br>
                                    Red Bank, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="d6b7b4b596a5b9bbb3bbb7bfbaf8b5b9bb">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Wilmington, DE </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Wilmington, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="2342414063504c4e464e424a4f0d404c4e">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Georgetown, DE </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Georgetown, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="b2d3d0d1f2c1dddfd7dfd3dbde9cd1dddf">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> New York, NY </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street,
                                    <br>
                                    New York, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="1d7c7f7e5d6e727078707c7471337e7270">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Haddonfield, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Haddonfield, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="1c7d7e7f5c6f737179717d7570327f7371">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Philadelphia, PA </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street,
                                    <br>
                                    Philadelphia, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="4b2a29280b3824262e262a222765282426">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <footer>

            <div class="footer-widgets-wrapper">

                <div class="container">
                    <div class="footer_top">
                        <p class="footer-logo">
                            <a href="#"> When Truth &amp; </a>
                            <a href="#"> <img src="assets/images/footer-logo.png" alt="" title=""> </a>
                            <a href="#"> Justice calls </a>
                        </p>
                        <ul class="dt-sc-social-icons">
                            <li><a href="#" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#" title="Youtube"><span class="fa fa-youtube"></span></a></li>
                            <li><a href="#" title="Linkedin"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="column dt-sc-two-sixth first">
                        <aside class="widget widget_text">
                            <div class="widget_text_logo">
                                <img src="assets/images/footer_text_widget_logo.png" alt="" title="">
                                <h4> Tamayo Sánchez E.I.R.L </h4>
                                <span><i>It's all about Justice </i></span>
                                <div class="dt-sc-hr-invisible-very-small"></div>
                                <p> State Attorney is an law/justice theme that suits any law/legal business. If you are
                                    about to start a business or deciding on improving your business State Attorney has
                                    all the features you need. </p>
                                <a href="#"> <strong> Learn more about our Practices <span
                                            class="fa fa-angle-double-right"></span> </strong> </a>
                            </div>
                        </aside>
                    </div>
                    <div class="column dt-sc-two-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle">Contact Details</h3>
                            <div class="textwidget">
                                <p class="dt-sc-contact-info"><span><i class="fa fa-phone"></i> Phone: </span> +22 004
                                    324 1124 </p>
                                <p class="dt-sc-contact-info"><span><i class="fa fa-print"></i> Fax: </span> +22 004 324
                                    1124 </p>
                                <p class="dt-sc-contact-info"><span><i class="fa fa-envelope"></i> Email: </span><a
                                        href="/cdn-cgi/l/email-protection#3c4553494e525d51597c4f535159515d5550125f5351">
                                        <span class="__cf_email__"
                                            data-cfemail="7d0e091c0918111c0a3d1a101c1411531e1210">[email&#160;protected]</span>
                                    </a></p>
                                <p class="dt-sc-contact-info"><i class="fa fa-location-arrow"></i>58, Thomson Street,
                                    Edison Avenue, Baltimore, USA</p>
                            </div>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle"> Attorneys </h3>
                            <ul>
                                <li> <a href=""> Robert James </a> </li>
                                <li> <a href=""> Craig Thompson </a> </li>
                                <li> <a href=""> Lewi Steve </a> </li>
                                <li> <a href=""> Carl Danny </a> </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle"> Overview </h3>
                            <ul>
                                <li> <a href=""> About our Practice </a> </li>
                                <li> <a href=""> Testimonials </a> </li>
                                <li> <a href=""> Our Policies </a> </li>
                            </ul>
                        </aside>
                    </div>
                </div>

            </div>

            <div class="copyright">
                <div class="container">
                    <div class="copyright-info">State Attorney © 2005 - 2014 <a href="https://wedesignthemes.com/"
                            target="_blank"> wedesignthemes.com </a> All Rights Reserved. </div>
                    <ul class="footer-links">
                        <li><a href="#"> Sitemap </a></li>
                        <li><a href="#"> Privacy Policy </a></li>
                        <li><a href="#"> Terms &amp; Conditions </a></li>
                        <li><a href="#"> Disclaimer </a></li>
                    </ul>
                    <p> Design by <a href="http://themeforest.net/user/buddhathemes" target="_blank" title="">Buddha
                            Themes</a> </p>
                </div>
            </div>
        </footer>

    </div>

</div>

<!--<div class="fixed-help-form">
    <div class="fixed-help-form-icon">
        <img src="assets/images/fixed-help-form-icon.png" alt="" title="">
    </div>
    <h4> Help Form </h4>
    <p> This form helps you to get the search you need. In case if you feel like talking to us pls feel to contact
        through. </p>
    <p> <span> Office | +22 004 324 1124 </span> </p>
    <form name="helpform" method="post" class="help-form" action="php/helpform.php">
        <p>
            <input type="text" placeholder="First Name" class="text_input" name="hf_first_name" required="">
        </p>
        <p>
            <input type="text" placeholder="Last Name" class="text_input" name="hf_last_name" required="">
        </p>
        <p>
            <span class="select-sort">
                <select name="hf_consult_incident">
                    <option value=""> - Practice Area - </option>
                    <option value="Divorce Cases"> - Divorce Cases - </option>
                    <option value="Local Asset Management"> - Local Asset Management - </option>
                    <option value="Health Insurance"> - Health Insurance - </option>
                    <option value="Business Law"> - Business Law - </option>
                    <option value="Pregnancy"> - Pregnancy - </option>
                    <option value="Estate Planning"> - Estate Planning - </option>
                </select>
            </span>
        </p>
        <p>
            <span class="select-sort">
                <select name="hf_consult_incident_2">
                    <option value=""> - Title - </option>
                    <option value="Divorce Cases"> - Compensation Defense - </option>
                    <option value="Local Asset Management"> - Subrogation - </option>
                    <option value="Health Insurance"> - Arbitration - </option>
                </select>
            </span>
        </p>
        <div id="ajax_helpform_msg"> </div>
        <p>
            <input type="submit" value="&#xf002; &nbsp; Search">
        </p>
    </form>
</div>
<a href="" title="Go to Top" class="back-to-top"> <span class="fa fa-angle-up"></span> </a>-->