<div class="wrapper">

    <div class="inner-wrapper">

        <app-header></app-header>

        <div id="main">
            <div class="breadcrumb-section">
                <div class="container">
                    <h1> Our Practices </h1>
                    <div class="breadcrumb">
                        <a href="index.html"> Home </a>
                        <span class="current"> Our Practices </span>
                    </div>
                </div>
            </div>

            <section id="primary" class="content-full-width">

                <div class="container">
                    <div class="dt-sc-one-half column first">
                        <a href="#"><img src="assets/images/our_practices_image1.jpg" alt="" title=""></a>
                    </div>
                    <div class="dt-sc-one-half column">
                        <h4 class="dt-sc-simple-hr-title"> Worker's Compensation Defense </h4>
                        <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque
                            penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum
                            facilis est et expedita distinctio. </p>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="dt-sc-hr-button">
                            <a href="#" class="dt-sc-toggle-practice"> Expand <span
                                    class="fa fa-angle-double-down"></span> </a>
                        </div>
                        <div class="dt-sc-practice-content">
                            <div class="dt-sc-hr-invisible-small"></div>
                            <ul class="dt-sc-disc-list">
                                <li> <span> Workers' compensation </span> - Representing employees who have been injured
                                    on the job. </li>
                                <li> <span> Personal injury </span> - Representing people who have been injured due to
                                    the careless or reckless acts of other individuals or parties. </li>
                                <li> <span> Workplace discrimination </span> - Representing people who have experienced
                                    discrimination or harassment at work. </li>
                            </ul>
                            <div class="dt-sc-clear"></div>
                            <div class="dt-sc-hr-invisible-very-small"></div>
                            <p class="alignleft"> Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et
                                expedita distinctio. </p>
                            <p class="alignleft"> Contact our <span class="dt-sc-highlight skin-color"> State Attorney
                                    Law Firm </span> with your questions, comments or concerns. </p>
                        </div>
                    </div>
                    <div class="dt-sc-hr-invisible"></div>
                    <div class="dt-sc-one-half column first">
                        <h4 class="dt-sc-simple-hr-title"> Volunteer Firefighters and Ambulance Workers </h4>
                        <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque
                            penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum
                            facilis est et expedita distinctio. </p>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="dt-sc-hr-button">
                            <a href="#" class="dt-sc-toggle-practice"> Expand <span
                                    class="fa fa-angle-double-down"></span> </a>
                        </div>
                        <div class="dt-sc-practice-content">
                            <div class="dt-sc-hr-invisible-small"></div>
                            <p class="alignleft"> Lorem ipsum sociis natoque penatibus duis sunon et magnis dis. Cum
                                sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit
                                amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et
                                harum quidem rerum facilis est et expedita distinctio. </p>
                        </div>
                    </div>
                    <div class="dt-sc-one-half column">
                        <a href="#"><img src="assets/images/our_practices_image2.jpg" alt="" title=""></a>
                    </div>
                    <div class="dt-sc-hr-invisible"></div>
                    <div class="dt-sc-one-half column first">
                        <a href="#"><img src="assets/images/our_practices_image3.jpg" alt="" title=""></a>
                    </div>
                    <div class="dt-sc-one-half column">
                        <h4 class="dt-sc-simple-hr-title"> Subrogation and Arbitration </h4>
                        <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque
                            penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum
                            facilis est et expedita distinctio. </p>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="dt-sc-hr-button">
                            <a href="#" class="dt-sc-toggle-practice"> Expand <span
                                    class="fa fa-angle-double-down"></span> </a>
                        </div>
                        <div class="dt-sc-practice-content">
                            <div class="dt-sc-hr-invisible-small"></div>
                            <p class="alignleft"> Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et
                                expedita distinctio. </p>
                            <div class="dt-sc-hr-invisible-very-small"></div>
                            <p class="alignleft"> Contact our <span class="dt-sc-highlight skin-color"> State Attorney
                                    Law Firm </span> with your questions, comments or concerns. </p>
                        </div>
                    </div>
                    <div class="dt-sc-hr-invisible"></div>
                    <div class="dt-sc-one-half column first">
                        <h4 class="dt-sc-simple-hr-title"> Liability and Third-Party Defense </h4>
                        <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque
                            penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum
                            facilis est et expedita distinctio. </p>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="dt-sc-hr-button">
                            <a href="#" class="dt-sc-toggle-practice"> Expand <span
                                    class="fa fa-angle-double-down"></span> </a>
                        </div>
                        <div class="dt-sc-practice-content">
                            <div class="dt-sc-hr-invisible-small"></div>
                            <p class="alignleft"> Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et
                                expedita distinctio. </p>
                            <div class="dt-sc-hr-invisible-very-small"></div>
                            <p class="alignleft"> Contact our <span class="dt-sc-highlight skin-color"> State Attorney
                                    Law Firm </span> with your questions, comments or concerns. </p>
                        </div>
                    </div>
                    <div class="dt-sc-one-half column">
                        <a href="#"><img src="assets/images/our_practices_image4.jpg" alt="" title=""></a>
                    </div>
                </div>

                <div class="dt-sc-hr-invisible-large"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>

                <div class="fullwidth-background dt-sc-parallax-section count_section">
                    <div class="container">
                        <h5> Our Stats - Over these Years </h5>
                        <div class="dt-sc-clear"></div>
                        <div class="column dt-sc-one-fourth first">
                            <div class="dt-sc-counter" data-counter="546">
                                <div class="dt-sc-counter-border">
                                    <div class="dt-sc-counter-number"> 546 </div>
                                </div>
                                <div class="icon">
                                    <span class="fa fa-anchor"></span>
                                </div>
                                <div class="dt-sc-hr-invisible-very-small"></div>
                                <h6> Cases Completed </h6>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class="dt-sc-counter" data-counter="150">
                                <div class="dt-sc-counter-border">
                                    <div class="dt-sc-counter-number"> 150 </div>
                                    <span> + </span>
                                </div>
                                <div class="icon">
                                    <span class="fa fa-bullhorn"></span>
                                </div>
                                <div class="dt-sc-hr-invisible-very-small"></div>
                                <h6> Law Services</h6>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class="dt-sc-counter" data-counter="30">
                                <div class="dt-sc-counter-border">
                                    <div class="dt-sc-counter-number"> 30 </div>
                                </div>
                                <div class="icon">
                                    <span class="fa fa-users"></span>
                                </div>
                                <div class="dt-sc-hr-invisible-very-small"></div>
                                <h6> Attorneys </h6>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class="dt-sc-counter" data-counter="3051">
                                <div class="dt-sc-counter-border">
                                    <div class="dt-sc-counter-number"> 3051 </div>
                                </div>
                                <div class="icon">
                                    <span class="fa fa-file-text"></span>
                                </div>
                                <div class="dt-sc-hr-invisible-very-small"></div>
                                <h6> Case Studies </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dt-sc-hr-invisible-medium"></div>
                <div class="dt-sc-hr-invisible-small"></div>

                <div class="container">
                    <h2 class="dt-sc-hr-title"> Our Trusted Members </h2>

                    <div class="column dt-sc-one-fourth first">
                        <div class="dt-sc-team">
                            <div class="dt-sc-team-thumb">
                                <img src="assets/images/attorney1.jpg" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Robert James </h5>
                                <span> Associate </span>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </div>


                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">
                            <div class="dt-sc-team-thumb">
                                <img src="assets/images/attorney2.jpg" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Craig Thompson </h5>
                                <span> Associate </span>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </div>


                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">
                            <div class="dt-sc-team-thumb">
                                <img src="assets/images/attorney3.jpg" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Lewi Steve </h5>
                                <span> Associate </span>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </div>


                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">
                            <div class="dt-sc-team-thumb">
                                <img src="assets/images/attorney4.jpg" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Carl Danny </h5>
                                <span> Associate </span>
                                <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </div>

                    <div class="dt-sc-hr-invisible-large"></div>
                    <div class="mailchimp">
                        <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                        <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                            <input type="email" placeholder="Email" name="mc_email" required="">
                            <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                        </form>
                        <div id="ajax_subscribe_msg"></div>
                    </div>
                </div>

            </section>


            <div class="office_locations">
                <div class="container">
                    <p> Our Offices: </p>
                    <ul class="dt-sc-locations">
                        <li>
                            <a href="#"> Princeton, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Princeton, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="c7a6a5a487b4a8aaa2aaa6aeabe9a4a8aa">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Flemington, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street,
                                    <br>
                                    Flemington, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="2a4b48496a5945474f474b434604494547">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Red Bank, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street,
                                    <br>
                                    Red Bank, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="d9b8bbba99aab6b4bcb4b8b0b5f7bab6b4">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Wilmington, DE </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Wilmington, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="9ffefdfcdfecf0f2faf2fef6f3b1fcf0f2">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Georgetown, DE </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Georgetown, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="dfbebdbc9facb0b2bab2beb6b3f1bcb0b2">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> New York, NY </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street,
                                    <br>
                                    New York, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="660704052615090b030b070f0a4805090b">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Haddonfield, NJ </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street,
                                    <br>
                                    Haddonfield, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="1c7d7e7f5c6f737179717d7570327f7371">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#"> Philadelphia, PA </a>
                            <div class="dt-sc-text-overlay">
                                <p class="address"> <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street,
                                    <br>
                                    Philadelphia, PA 16103
                                </p>
                                <p> <span class="fa fa-envelope-o"></span> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="660704052615090b030b070f0a4805090b">[email&#160;protected]</span>
                                    </a> </p>
                                <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                                <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <footer>

            <div class="footer-widgets-wrapper">

                <div class="container">
                    <div class="footer_top">
                        <p class="footer-logo">
                            <a href="#"> When Truth &amp; </a>
                            <a href="#"> <img src="assets/images/footer-logo.png" alt="" title=""> </a>
                            <a href="#"> Justice calls </a>
                        </p>
                        <ul class="dt-sc-social-icons">
                            <li><a href="#" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#" title="Youtube"><span class="fa fa-youtube"></span></a></li>
                            <li><a href="#" title="Linkedin"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="column dt-sc-two-sixth first">
                        <aside class="widget widget_text">
                            <div class="widget_text_logo">
                                <img src="assets/images/footer_text_widget_logo.png" alt="" title="">
                                <h4> Tamayo Sánchez E.I.R.L </h4>
                                <span><i>It's all about Justice </i></span>
                                <div class="dt-sc-hr-invisible-very-small"></div>
                                <p> State Attorney is an law/justice theme that suits any law/legal business. If you are
                                    about to start a business or deciding on improving your business State Attorney has
                                    all the features you need. </p>
                                <a href="#"> <strong> Learn more about our Practices <span
                                            class="fa fa-angle-double-right"></span> </strong> </a>
                            </div>
                        </aside>
                    </div>
                    <div class="column dt-sc-two-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle">Contact Details</h3>
                            <div class="textwidget">
                                <p class="dt-sc-contact-info"><span><i class="fa fa-phone"></i> Phone: </span> +22 004
                                    324 1124 </p>
                                <p class="dt-sc-contact-info"><span><i class="fa fa-print"></i> Fax: </span> +22 004 324
                                    1124 </p>
                                <p class="dt-sc-contact-info"><span><i class="fa fa-envelope"></i> Email: </span><a
                                        href="/cdn-cgi/l/email-protection#30495f45425e515d5570435f5d555d51595c1e535f5d">
                                        <span class="__cf_email__"
                                            data-cfemail="7704031603121b160037101a161e1b5914181a">[email&#160;protected]</span>
                                    </a></p>
                                <p class="dt-sc-contact-info"><i class="fa fa-location-arrow"></i>58, Thomson Street,
                                    Edison Avenue, Baltimore, USA</p>
                            </div>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle"> Attorneys </h3>
                            <ul>
                                <li> <a href=""> Robert James </a> </li>
                                <li> <a href=""> Craig Thompson </a> </li>
                                <li> <a href=""> Lewi Steve </a> </li>
                                <li> <a href=""> Carl Danny </a> </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-sixth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle"> Overview </h3>
                            <ul>
                                <li> <a href=""> About our Practice </a> </li>
                                <li> <a href=""> Testimonials </a> </li>
                                <li> <a href=""> Our Policies </a> </li>
                            </ul>
                        </aside>
                    </div>
                </div>

            </div>

            <div class="copyright">
                <div class="container">
                    <div class="copyright-info">State Attorney © 2005 - 2014 <a href="https://wedesignthemes.com/"
                            target="_blank"> wedesignthemes.com </a> All Rights Reserved. </div>
                    <ul class="footer-links">
                        <li><a href="#"> Sitemap </a></li>
                        <li><a href="#"> Privacy Policy </a></li>
                        <li><a href="#"> Terms &amp; Conditions </a></li>
                        <li><a href="#"> Disclaimer </a></li>
                    </ul>
                    <p> Design by <a href="http://themeforest.net/user/buddhathemes" target="_blank" title="">Buddha
                            Themes</a> </p>
                </div>
            </div>
        </footer>

    </div>

</div>

<!--<div class="fixed-help-form">
    <div class="fixed-help-form-icon">
        <img src="assets/images/fixed-help-form-icon.png" alt="" title="">
    </div>
    <h4> Help Form </h4>
    <p> This form helps you to get the search you need. In case if you feel like talking to us pls feel to contact
        through. </p>
    <p> <span> Office | +22 004 324 1124 </span> </p>
    <form name="helpform" method="post" class="help-form" action="php/helpform.php">
        <p>
            <input type="text" placeholder="First Name" class="text_input" name="hf_first_name" required="">
        </p>
        <p>
            <input type="text" placeholder="Last Name" class="text_input" name="hf_last_name" required="">
        </p>
        <p>
            <span class="select-sort">
                <select name="hf_consult_incident">
                    <option value=""> - Practice Area - </option>
                    <option value="Divorce Cases"> - Divorce Cases - </option>
                    <option value="Local Asset Management"> - Local Asset Management - </option>
                    <option value="Health Insurance"> - Health Insurance - </option>
                    <option value="Business Law"> - Business Law - </option>
                    <option value="Pregnancy"> - Pregnancy - </option>
                    <option value="Estate Planning"> - Estate Planning - </option>
                </select>
            </span>
        </p>
        <p>
            <span class="select-sort">
                <select name="hf_consult_incident_2">
                    <option value=""> - Title - </option>
                    <option value="Divorce Cases"> - Compensation Defense - </option>
                    <option value="Local Asset Management"> - Subrogation - </option>
                    <option value="Health Insurance"> - Arbitration - </option>
                </select>
            </span>
        </p>
        <div id="ajax_helpform_msg"> </div>
        <p>
            <input type="submit" value="&#xf002; &nbsp; Search">
        </p>
    </form>
</div>
<a href="" title="Go to Top" class="back-to-top"> <span class="fa fa-angle-up"></span> </a>-->